{% extends 'main/base.html'%}
{% load static %}
{% block title %}Login{% endblock %} 
{% load crispy_forms_tags %} 

{% block content %}

    <div class="balance-container">
        <div class="card card-width" style="width: 20rem;">
        <div class="card-img-top qr_code_display" id="us_qrcode"></div>
        <div class="card-body">
            <h3 class="card-title">Balance: {{usd_balance|escape}}$</h5>
        </div>
        </div>

        <div class="card card-width" style="width: 20rem;">
        <div class="card-img-top qr_code_display" id="lb_qrcode"></div>
        
        <div class="card-body">
            <h3 class="card-title">Balance: {{lb_balance|escape}}L.L</h5>
        </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>

            <th scope="col">From</th>
            <th scope="col">Time</th>
            <th scope="col">Amount</th>
            <th scope="col">Currency</th>
            <th scope="col">To</th>
            </tr>
        </thead>
        <tbody>
    {% comment %} green #93ffeb  red #f79393{% endcomment %}
    {% for trans in transactions%}
            {% if  trans.5 %}
                <tr style="color: #721c24;
                            background-color: #f8d7da;
                            border-color: #f5c6cb;">

                    <td>{{trans.0|escape}}</td>
                    <td>{{trans.1|escape}} </td>
                    <td> -{{trans.2|escape}}</td>
                    <td>{{trans.3|escape}}</td>
                    <td>{{trans.4|escape}}</td>

                </tr>
            {% else %}
                <tr style="color: #155724;
                        background-color: #d4edda;
                        border-color: #c3e6cb;">
                    <td>{{trans.0|escape}}</td>
                    <td>{{trans.1|escape}}</td>
                    <td> {{trans.2|escape}}</td>
                    <td>{{trans.3|escape}}</td>
                    <td>{{trans.4|escape}}</td>
                </tr>
            {% endif %}
    {% endfor%}

        </tbody>
    </table>
            <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>    

    <script src="{% static 'gen_qr.js' %}"></script>
{% endblock %}