{% extends 'main/base.html'%}
{% load static %}
{% block title %}Login{% endblock %} 
{% load crispy_forms_tags %} 
{%block head%}
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
{%endblock%}
{% block content %}
    {% for msg in messages%}
        {%if msg.tags == 'warning' %}
            <div class="alert alert-danger alert-dismissible fade show"  role="alert">
                <strong> {{msg|escape}} </strong>
                <button type="button" class="close btn " style="float: right;margin-top: -9px;margin-right: -3%;" data-dismiss="alert" aria-label="Close">
                    <strong><span aria-hidden="true">&times;</span></strong>
                </button>
            </div>

        {%else  %}
            <div class="alert alert-success alert-dismissible fade show"  role="alert">
                <strong> {{msg|escape}} </strong>
                <button type="button" class="close btn " style="float: right;margin-top: -9px;margin-right: -3%;" data-dismiss="alert" aria-label="Close">
                    <strong><span aria-hidden="true">&times;</span></strong>
                </button>
            </div>
        {%endif%}
    {% endfor %}
    <form method="post">
    {% csrf_token %}{{form|crispy}}
    <button type="submit" class="btn btn-success">send</button>
    <button class="btn btn-primary" id="scan-button">Scan</button>

    </form>
    <div id="reader" width="600px"></div>
    <script>
        function findTheOne(elemnts,info){

            for (let i =0 ; i < elemnts.length;i++){
                console.log(elemnts[i].innerHTML)
                if(elemnts[i].innerHTML == info){
                    elemnts[i].selected = 'selected'
                    console.log("selected")
                }
            }
        }
        let ID = document.querySelector("#id_receiver").querySelectorAll('option')
        let currencyElem = document.querySelector("#id_currency_type").querySelectorAll('option')

        function onScanSuccess(decodedText, decodedResult) {
            let splitted =decodedText.split("_--_")
            let user = splitted[0]
            let currency = splitted[1]
            let symbol = '$'
            if(currency == "LB"){
                symbol = "L.L."
            }

            findTheOne(ID,user)
            findTheOne(currencyElem,symbol)
            
          }
          
          function onScanFailure(error) {
            // handle scan failure, usually better to ignore and keep scanning.
            // for example:
            console.warn(`Code scan error = ${error}`);
          }
          
          let html5QrcodeScanner = new Html5QrcodeScanner(
            "reader",
            { fps: 10, qrbox: {width: 250, height: 250} },
            /* verbose= */ false);
          html5QrcodeScanner.render(onScanSuccess, onScanFailure);

    </script>

{% endblock %}