{% extends 'main/base.html'%}
{% load static %}
{% block title %}Login{% endblock %} 
{% load crispy_forms_tags %} 
{%block head%}
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
{%endblock%}
{% block content %}
    {% for msg in messages%}
        {%if msg.tags == 'warning' %}
            <div class="alert alert-danger alert-dismissible fade show"  role="alert">
                <strong> {{msg|escape}} </strong>
                <button type="button" class="close btn " style="float: right;margin-top: -9px;margin-right: -3%;" data-dismiss="alert" aria-label="Close">
                    <strong><span aria-hidden="true">&times;</span></strong>
                </button>
            </div>

        {%else  %}
            <div class="alert alert-success alert-dismissible fade show"  role="alert">
                <strong> {{msg|escape}} </strong>
                <button type="button" class="close btn " style="float: right;margin-top: -9px;margin-right: -3%;" data-dismiss="alert" aria-label="Close">
                    <strong><span aria-hidden="true">&times;</span></strong>
                </button>
            </div>
        {%endif%}
    {% endfor %}
    <form method="post">
    {% csrf_token %}{{form|crispy}}
    <div class="buttons-container">
        <div class="input-container">
        <button type="submit" class="custom_btn custom_btn_lite">Send</button>
        <button type="button" class="custom_btn custom_btn_dark" id="scan-button">Scan</button>
        <input type="file"
        id="openfile" name="avatar"
        accept="image/png, image/jpeg"
        title="" 
        hidden/> 
        <label for="openfile" class="custom_btn custom_btn_dark">File</label>
    </div>
        <div id="reader" width="600px" style="display:none ;"></div>
    </div>
    </form>
    <script src="{% static 'scan_qr.js' %}"></script>

{% endblock %}